body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #464a52;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tasks-count {
  margin: 0;
  color: #538dff;
}

.task-input {
  padding: 10px;
  border: 1px solid #464a52;
  border-radius: 2px;
}
.button {
  background-color: #538dff;
  border-radius: 2px;
  padding: 11px;
  border: none;
  color: #fff;
  /* font-weight: bold; */
}
hr {
  border: 0.1px solid #fff;
}

.task-input:focus,
.button:focus {
  outline: none;
}

#Layer,
#Capa_1 {
  fill: white;
}
#Layer_1 {
  fill: #87898a;
}
#Layer_1:hover {
  cursor: pointer;
  fill: #fff;
}

.delete_opt {
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: #464a52;
  position: absolute;
  right: 0;
}

/* .activelink1 {
  color: #fff !important;
  text-decoration: none;
}

.activelink2 {
  color: #fff !important;
  text-decoration: none;
} */

.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: #fff;
  text-decoration: none;
}

.dribbble {
  color: #538dff;
}

.foot1 {
  display: block;
  text-align: center;
  padding-top: 3cm;
}
